@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    font-family: "Pixelify Sans", sans-serif;


}


.quadrado{
    width: 200px; /*largura do quadrado*/
    height: 200px; /*altura do quadrado*/
    text-align: center; /*cemtralizar*/
    font-size: 150px;   /*tamanho da letra*/
    border-radius: 15px; /*arredondar*/
    background-color: rgb(83, 201, 248);
    color: white; /*cor da letra*/
}

.painel{
    background-color: deepskyblue;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: white;
    border-radius: 30px;
}
.jogo{
    margin-left: auto;
    margin-right: auto;
}


